$search-ico-size: 18px;

.search {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $theme-color;
  padding: 0.5 * $spacing $spacing;

  .icon {
    position: absolute;
    top: 50%;
    left: 1.5 * $spacing;
    width: $search-ico-size;
    height: $search-ico-size;
    transform: translateY(-50%);
  }

  .input_wrapper {
    flex: 1;
    padding: 0.25 * $spacing 0.5 * $spacing 0.25 * $spacing $spacing +
      $search-ico-size;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;

    .input_el {
      display: block;
      width: 100%;
    }
  }

  .cancel {
    flex-shrink: 0;
    margin-left: $spacing;
    color: $article-text-color;
    font-size: 14px;
  }
}

.section_title {
  margin: $spacing $spacing 0.5 * $spacing;
  font-size: 18px;
  font-weight: bold;
  color: $article-text-color;
}
